
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Google Translate top banner completely */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}

/* Hide Google Translate popup tooltip */
.goog-tooltip,
.goog-tooltip div,
.goog-text-highlight {
  display: none !important;
}
